@font-face {
    font-family: 'American Typewriter';
    src: url('/American\ Typewriter\ Regular.ttf') format('truetype');
    /* Add additional src lines for different font formats if necessary */
}

body, p, a {
    font-family: 'American Typewriter', sans-serif;
    /* Add fallback font family if American Typewriter is not available */
}

